job "zerotier_agent" {
  type = "service"
  datacenters = ["sargassum-foundations"]

  update {
    max_parallel = 1
  }

  group "${group}" {
    count = 1

    affinity {
      attribute = "$${attr.unique.hostname}"
      value     = "${affinity}"
    }

    network {
      port "zerotier" {
        static = 9993
      }
    }

    task "zerotier_one" {
      driver = "docker"

      config {
        image = "zerotier/zerotier:1.10.1"
        ports = ["zerotier"]
        devices = [{
          host_path = "/dev/net/tun"
          container_path = "/dev/net/tun"
        }]
        cap_add = ["net_admin"]
        args = [
          "${network}",
        ]
      }

      env {
        ZEROTIER_IDENTITY_SECRET = "${private_key}"
        ZEROTIER_IDENTITY_PUBLIC = "${public_key}"
      }

      resources {
        cpu    = 100
        memory = 64
      }
    }
  }
}
