job "zerotier_agent_${resource_name}" {
  type = "service"
  datacenters = ["${datacenter}"]

  affinity {
    attribute = "$${attr.unique.hostname}" # Nomad variable, not Terraform template variable
    value     = "${affinity}"
  }

  update {
    max_parallel = 1
  }

  group "agent" {
    count = 1

    network {
      mode = "host"

      port "zerotier" {
        static       = 9993
      }
    }

    task "zerotier_one" {
      driver = "docker"

      config {
        image   = "zerotier/zerotier:1.10.1"
        network_mode = "host"
        ports   = ["zerotier"]
        devices = [{
          host_path = "/dev/net/tun"
          container_path = "/dev/net/tun"
        }]
        cap_add      = ["net_admin", "sys_admin"]
        args         = [
          "${network}",
        ]
      }

      env {
        ZEROTIER_IDENTITY_SECRET = "${private_key}"
        ZEROTIER_IDENTITY_PUBLIC = "${public_key}"
      }

      resources {
        cpu        = 1000
        memory     = 16
        memory_max = 32
      }
    }
  }
}
