job "zerotier_agent_${resource_name}" {
  type = "service"
  datacenters = ["${datacenter}"]

  constraint {
    attribute = "$${attr.unique.hostname}" # Nomad variable, not Terraform template variable
    value     = "${hostname_constraint}"
  }

  update {
    max_parallel = 1
  }

  group "agent" {
    count = 1

    network {
      mode = "host"

      port "zerotier" {
        static       = 9993
      }
    }

    task "zerotier_one" {
      driver = "docker"

      config {
        image   = "zerotier/zerotier:1.10.1"
        network_mode = "host"
        ports   = ["zerotier"]
        devices = [{
          host_path = "/dev/net/tun"
          container_path = "/dev/net/tun"
        }]
        cap_add      = ["net_admin", "sys_admin"]
        args         = [
          "${network}",
        ]

        mount {
          type     = "bind"
          target   = "/var/lib/zerotier-one/identity.secret"
          source   = "secrets/identity.secret"
          readonly = true
        }

        mount {
          type     = "bind"
          target   = "/var/lib/zerotier-one/identity.public"
          source   = "local/identity.public"
          readonly = true
        }
      }

      template {
        data = "${private_key}"
        destination = "secrets/identity.secret"
      }

      template {
        data = "${public_key}"
        destination = "local/identity.public"
      }

      resources {
        cpu        = 1000
        memory     = 16
        memory_max = 32
      }
    }
  }
}
